<div class="container">
  <div class="row col-lg-6 offset-lg-3">
    <form>
      <div class="mb-3">
        <label for="username" class="form-label">Kullanıcı Adı & Email</label>
        <input
          type="text"
          id="username"
          class="form-control"
          placeholder="Kullanıcı Adı"
        />
        <small class="form-text text-muted invalid-feedback">
          Lütfen Kullanıcı adı Girin
        </small>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Şifre</label>
        <input type="password"  class="form-control" id="password" placeholder="Şifre" />
      </div>
      <button type="submit" class="btn btn-primary">Giriş Yap</button>
    </form>
  </div>
</div>
